body
{
    background-color: snow;
}
div.everything
{
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
}
form.userform
{
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    border-collapse: collapse;
    width: 300px;
}
.textHolder
{
    text-align: center;
}
input[type=text]
{
    padding: 2px;
    margin: 10px;
    width: 100px;
    background-color: floralwhite;
    border: 1px solid black;
    border-radius: 10px;
}
.buttonHolder
{
    text-align: center;
}
input[type=submit]
{
    padding: 2px;
    margin: 10px;
    width: 100px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
table.datatable
{
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 300px;
    border-radius: 10px;
}
table.datatable th
{
    padding: 8px;
    border: 1px solid black;
    background-color: gray;
}
table.datatable tr, td
{
    padding: 8px;
    width: 150px;
    border: 1px solid black;
    background-color: lightgray;
}
